<%= form_for(@section,url: yield(:admin_path)) do |f| %>
  <%= render 'admin/sections/error_message',object: @section %>

  <%= f.hidden_field :course_id, :value => params[:course_id] || @section.course_id %>

  <%= f.label :title,"タイトル" %> <span class="ness">【必須】</span>
  <%= f.text_field :title %>

  <%= f.label :introduce,"説明文"%> <span class="ness">【必須】</span>
  <%= f.text_area :introduce %>


  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>
