<div class="row">
  <div class="col-md-12 ">
    <h3 class="card-text">セクション一覧      <%= link_to "セクション追加",admin_path(@course),class: "btn btn-success right" %></h3>
  </div>
</div>

<div class="lecture-text">
  <%= attachment_image_tag @section.course, :image, :fill,50, 50, fallback: "no_image.jpg", size: '50x50', class: "mini-image" %>
  　　<%= @section.course.title%>
</div>

<br>

<% i = 0 %>

<div class="panel-group" id="accordion">
  <% @sections.each do |section| %>
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i = i + 1 %>">
            <i class="fas fa-arrow-alt-circle-down">　</i><!-- <i class="far fa-arrow-alt-circle-up"></i> -->
          </a>
            <%= section.title %>
            <div class="right">
              <%= link_to "セクション編集",edit_admin_section_path(section),class: "btn btn-warning",data: {"turbolinks"=>false} %>
              <%= link_to "レクチャー追加",admin_lec_new_path(section),class: "btn btn-success" %>
            </div>

        </h4>
      </div>

            <!-- 上のiの計算で数字が変わっているため、ここをi+1にすると連動しなくなるので注意 -->
      <div id="collapse<%= i %>" class="panel-collapse collapse <%='in' if (section.id).to_i == (params[:section_id]).to_i %><%='out' if (section.id).to_i != (params[:section_id]).to_i %>" >
<!--          <div id="collapse<%= i %>" class="panel-collapse collapse out"> -->


        <table class="table table-bordered table-sortable">
          <tbody id="lectures_list">
            <% section.lectures.sort_by {|lecture| lecture.row_order }.each do |lecture|%>
              <%= content_tag "tr", id: "lecture-#{lecture.id}", class: "item", data: { model_name: lecture.class.name.underscore, update_url: admin_lecture_sort_path(lecture),"turbolinks" => false} do %>
                <td>
                  <%= link_to admin_lec_path(section,lecture) do %>
                    <%= lecture.title %>
                  <% end %>
                  <%= link_to "レクチャー編集",edit_admin_lecture_path(lecture),class: "btn btn-warning right" %>
                </td>
              <% end %>
            <% end %>
          </tbody>
        </table>


      </div>
    </div>
  <% end %>
</div>

