<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "コース一覧",admin_courses_path %></li>
    <li class="breadcrumb-item"><%= link_to admin_course_path(@section.course_id),data: {"turbolinks" => false} do %><%= @section.course.title %><%end%></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @section.title %></li>
  </ol>
</nav>


<div class="row">
  <div class="col-md-5">

    <h3 class="card-text">
      <strong><%= @lecture.title %></strong><br>
    </h3>

    <div class="movie　row">
      <iframe width="100%" height="300" src="<%= @lecture.lecture_movie_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <span>
        <%= render "admin/sections/nextbutton" %>
    </span>

    <br>

    <div class="">
      <div class="col-md-2">
        <%= attachment_image_tag @section.course, :image, :fill,50, 50, fallback: "no_image.jpg", size: '50x50', class: "mini-image" %>
      </div>
      <div class="col-md-10 lecture-text">
        <%= @lecture.introduce %>
      </div>
    </div>

  </div>

  <div class="col-md-7">
    <%= render "admin/sections/section" %>
  </div>
</div>

