<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "コース詳細",admin_course_path(@section.course_id)%></li>
    <li class="breadcrumb-item active" aria-current="page">セクション詳細</li>
  </ol>
</nav>


<div class="row">
  <div class="col-md-5">

    <h3 class="card-text"><%= @section.title %>
      <%#= link_to "セクション編集", edit_admin_section_path(@section),class: "btn btn-primary right" %>
    </h3>
    <div class="section-text">
      <span>
        <%= @section.introduce %>
      </span>
    </div>


    <div class="movie　row">
      <iframe width="100%" height="300" src="<%= @lecture.lecture_movie_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <span>
        <%= render "admin/sections/nextbutton" %>
    </span>

    <div class="lecture-text">
      <div class="card-text">
        <%= @lecture.title %><br>
      </div>
      <div>
        <%= @lecture.introduce %>
      </div>
    </div>

    <div>
      <br>
      <%= attachment_image_tag @section.course, :image, :fill,50, 50, fallback: "no_image.jpg", size: '50x50', class: "mini-image" %>
      <%= @section.course.title%>
    </div>

  </div>

  <div class="col-md-7">
    <%= render "admin/sections/section" %>
  </div>
</div>

