<div class="row">
  <div class="col-md-12">
    <h3 class="card-text">セクション一覧</h3>
  </div>
</div>

<% i = 0 %>

<div class="panel-group" id="accordion">
  <% @sections.each do |section| %>
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i = i + 1 %>">
            <i class="fas fa-arrow-alt-circle-down">　　　</i>                 <!-- <i class="far fa-arrow-alt-circle-up"></i> -->
          </a>
          <%= section.title %>
          <% if logged_in? %>
            <% if current_user.admin? %>
              <%= link_to "セクションを編集する",edit_section_path(section),class: "btn btn-primary right" %>
              <%= link_to "レクチャーを追加する","/sections/#{section.id}/lecture_new",class: "btn btn-primary right" %>
            <% end %>
          <% end %>
        </h4>
      </div>
            <!-- 上のiの計算で数字が変わっているため、ここをi+1にすると連動しなくなるので注意 -->
      <div id="collapse<%= i %>" class="panel-collapse collapse <%='in' if (section.id).to_i == (params[:section_id]).to_i %><%='out' if (section.id).to_i != (params[:section_id]).to_i %>" >
          <div class="panel-body">
            <span>
              <%= section.introduce %>
            </span>
          </div>
        <% section.lectures.sort_by {|lecture| lecture.row_order }.each do |lecture|%>
        <!-- レクチャーのrow_orderで並べ替えるよ -->
          <div class="panel-body <%= 'lightpink' if (lecture.id).to_i == (params[:lecture_id]).to_i%>">
            <% if logged_in? %>
              <!-- チェックボタン -->
              <% if lecture.checked_by?(current_user) %>
                <li>
                  <%= link_to lecture_is_completed_lectures_path(lecture), method: :delete do %>
                    <i class="fas fa-check-square" aria-hidden="true" style="color: green;"></i>
                  <% end %>
                  <%= link_to "/sections/#{section.id}/lectures/#{lecture.id}" do %>
                    <%= lecture.title %>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to lecture_is_completed_lectures_path(lecture), method: :post do %>
                    <i class="far fa-check-square" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to "/sections/#{section.id}/lectures/#{lecture.id}" do %>
                    <%= lecture.title %>
                  <% end %>
                </li>
              <% end %>
                <!-- ここまで -->
            <% else %>
              <%= link_to "/sections/#{section.id}/lectures/#{lecture.id}" do %>
                <%= lecture.title %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  <% end %>
</div>

