<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "トップ",root_path %></li>
    <li class="breadcrumb-item"><%= link_to "コース詳細",course_path(@section.course_id)%></li>
    <li class="breadcrumb-item active" aria-current="page">セクション詳細</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-8">
    <h3 class="card-text"><%= @section.title %>
        <% if current_user.admin? %>
          <%= link_to "セクションを編集する", edit_section_path(@section),class: "btn btn-primary right" %>
        <% end %>
    </h3>

    <div class="section-text">
      <span>
        <%= @section.introduce %>
      </span>
    </div>


    <div class="movie　row">
      <iframe width="100%" height="400px" src="<%= @lecture.lecture_movie_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <span>
        <%= render "sections/nextbutton" %>
    </span>

    <div class="lecture-text">
      <div class="card-text">
        <strong><%= @lecture.title %></strong><br>
      </div>
      <div>
        <%= @lecture.introduce %>
      </div>
    </div>


  </div>

  <div class="col-md-4">
    <%= render "sections/section" %>
  </div>

</div>
