
<div class="card-text">
  <h3><strong><%= @user.name %></strong>さんの進捗状況</h3>
</div>

<%= request.fullpath %>

<div class="lecture-text">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>社員番号</th>
        <th>メールアドレス</th>
        <th>最終更新日</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.employee_number %></td>
        <td><%= @user.email %></td>
        <td><%= @checked.length >= 1 ? @checked[0].created_at.strftime('%Y/%m/%d %H:%M:%S') : '完了したレクチャーはまだありません' %></td>
      <!--whereとorderで持ってきているのは作成日の配列。その０番を返す。作成順に並んでいるはずなのでこれでよし  -->
      <!--   @checkedは配列で返ってくるので、上記のようにして取り出します。
      データがない場合は'完了したレクチャーはまだありません'と一旦表示してます -->
      </tr>
    </tbody>
  </table>
</div>

<div class="line-thin"></div>

<% i = 0 %>

<% @courses.each do |course|%>
  <div class="row">
    <div class="col-md-6">
      <strong><%= course.title %> コース</strong>
    </div>
    <div class="col-md-3">
      進捗度： <%= completed_lecture(course, params[:id]) %>/<%= course.sections.joins(:lectures).count %>
      <!-- 　joins でレクチャーを持って来れる。　　 -->
    </div>
    <div class="col-md-3">
      <% if latest_completed_lecture_date(course, params[:id]).nil? %>
        最終更新日 :
      <% else %>

      <% end %>
        <%= latest_completed_lecture_date(course, params[:id]) %>
    </div>
  </div>

  <div class="panel-group" id="accordion">
    <% course.sections.each do |section| %>
      <div class="panel panel-default">

        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i = i + 1 %>">
            <i class="fas fa-arrow-alt-circle-down">　　　</i><!-- <i class="far fa-arrow-alt-circle-up"></i> -->
            </a>
            <%= section.title %>
          </h4>
        </div>

        <!-- 上のiの計算で数字が変わっているため、ここをi+1にすると連動しなくなるので注意 -->
        <div id="collapse<%= i %>" class="panel-collapse collapse out" >
          <% section.lectures.each do |lecture|%>
            <div class="panel-body">

                <% if lecture.checked_by?(@user) %>
                  <i class="fas fa-check-square" aria-hidden="true" style="color: green;"></i>
                <% else %>
                  <i class="far fa-check-square" aria-hidden="true"></i>
                <% end %>
                <%= lecture.title %>
                <span class="right">
                  <%= lecture.is_completed_lectures.where(user_id: params[:id])[0] ? lecture.is_completed_lectures.where(user_id: params[:id])[0].created_at.strftime('%Y/%m/%d %H:%M:%S').inspect : '完了していません'%>
                </span>

            </div>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
<% end %>

