NAME:<%= @user.name %><br>
EMAIL:<%= @user.email %><br>
NUMBER:<%= @user.employee_number %><br>
登録日:<%= @user.created_at %><br>
更新日:<%= @user.updated_at %><br>
現在時刻:<%= Time.now %>

<br>
<br>

<% @courses.each do |course|%>
    <%= course.title %> コース
    進捗度： <%= @user.is_completed_lectures.count %>/<%= course.sections.joins(:lectures).count %>
    最終更新日 <%#= is_completed_lectures.created_at %>

  <% i = 0 %>

  <div class="panel-group" id="accordion">
    <% course.sections.each do |section| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i = i + 1 %>">
              <i class="fas fa-arrow-alt-circle-down">　　　</i>
                <!-- <i class="far fa-arrow-alt-circle-up"></i> -->
              </a>
            <%= section.title %>
            </h4>
        </div>

            <!-- 上のiの計算で数字が変わっているため、ここをi+1にすると連動しなくなるので注意 -->
        <div id="collapse<%= i %>" class="panel-collapse collapse out" >
<!-- 					<div id="collapse<%= i %>" class="panel-collapse collapse out"> -->
            <% section.lectures.each do |lecture|%>
                <div class="panel-body">
                  <%= lecture.title %> <%#= lecture.is_completed_lectures.created_at %>
            </div>
              <% end %>
          </div>

      </div>
    <% end %>
  </div>
<% end %>
