<div class="row">
  <div class="col-md-5">
    <h3 class="card-text"><%= @course.title %>
      <%= link_to "コースを編集する", edit_admin_course_path(@course), class: "btn btn-lg, btn-primary right"%>
    </h3>
    <div class="center">
      <%= attachment_image_tag @course, :image , :fill, 158, 135, fallback: "no_image.jpg", size: '400x300' %>
    </div>
    <div class="lecture-text">
      <span>
        <%= @course.introduce %>
      </span>
    </div>

  </div>

  <div class="col-md-7">
    <%= render "admin/sections/section" %>
  </div>

</div>




