<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  $(function(){
    $("ul.nav li").click(function(){
      $("ul.nav li.selected").removeClass("selected");
      $(this).addClass("selected");
    });
  });
</script> -->

<% if admin_logged_in? %>

  <header class="header-admin navbar-fixed-top">
    <div class="container">
      <nav class="nav">
        <%= link_to root_path ,data: {"turbolinks" => false} do %>
          <%= image_tag "moviewad.png", alt: "MOVIEW", height: "50px"%>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li class="header-name admin-header-link"><%= current_admin.name %></li>
          <li class="<%= request.fullpath.include?('/admin/users') ? 'adminnow' : '' %> admin-li">
            <%= link_to admin_users_path do %><i class="fas fa-users admin-header-link"> 社員一覧</i><%end%>
          </li>
          <li class="<%= request.fullpath.include?('/admin/courses') ? 'adminnow' : '' %> <%= request.fullpath.include?('/admin/sections') ? 'adminnow' : '' %> admin-li">
            <%= link_to admin_courses_path do %><i class="fas fa-film admin-header-link"> コース一覧</i><%end%>
          </li>
          <li class="admin-li">
            <%= link_to admin_logout_path ,method: :delete  do %><i class="fas fa-sign-out-alt admin-header-link"> ログアウト</i><% end %>
          </li>
        </ul>
      </nav>
    </div>
  </header>

<% elsif logged_in? %>

  <header class="navbar-fixed-top">
    <div class="container">
      <nav class="nav">
        <%= link_to root_path ,data: {"turbolinks" => false} do %>
          <%= image_tag "moviewus.png", alt: "MOVIEW", height: "50px"%>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li class="header-name header-link"><%= current_user.name %></li>
          <li class="<%= request.fullpath == '/' ? 'now' : '' %>">
            <%= link_to root_path do %><i class="fas fa-home header-link"> トップ</i><%end%>
          </li>
          <li class="<%= request.fullpath == '/about' ? 'now' : '' %>">
            <%= link_to about_path do %><i class="fas fa-pencil-ruler header-link"> 使い方</i><%end%>
          </li>
          <li>
            <%= link_to logout_path ,method: :delete  do %><i class="fas fa-sign-out-alt header-link"> ログアウト</i><% end %>
          </li>
        </ul>
      </nav>
    </div>
  </header>

<% else %>

  <header class="navbar-fixed-top" style="background-color: <%= controller.class.name == 'Admin::SessionController' ?  'black' : 'white' %>">
    <% logger.debug('check2') %>
    <% logger.debug(controller.class.name) %>
    <div class="container">
        <%# 緑色 admin %>    <%# 青色 ユーザー %>
      <nav class="nav" >
        <% if controller.class.name == 'Admin::SessionController'%>
          <%= link_to root_path ,data: {"turbolinks" => false} do %>
            <%= image_tag "moviewad.png", alt: "MOVIEW", height: "50px"%>
          <% end %>
        <% else %>
          <%= link_to root_path ,data: {"turbolinks" => false} do %>
            <%= image_tag "moviewus.png", alt: "MOVIEW", height: "50px"%>
          <% end %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= request.fullpath == '/login' ? 'now' : '' %> <%= request.fullpath == '/admin/login' ? 'admin-li' : '' %>">
            <%= link_to login_path do%><i class="fas fa-sign-in-alt header-link" style="color: <%= controller.class.name == 'Admin::SessionController' ?  'white' : 'gray' %>"> ログイン</i><%end%>
          </li>
          <li class="<%= request.fullpath == '/admin/login' ? 'adminnow' : '' %>">
            <%= link_to admin_login_path do %><i class="fas fa-user-cog header-link" style="color: <%= controller.class.name == 'Admin::SessionController' ?  'white' : 'gray' %>"> 管理者</i><%end%>
          </li>
        </ul>
      </nav>
    </div>
  </header>

<% end %>
